p {
 color: black;
 background-color: rgb(0, 255, 42);
 height: 200px;
 width: 200px;
}

div {
 color: black;
 background-color: rgb(0, 255, 42);
 height: 100px;
 width: 400px;
}

.divs {
 color: blue;
 background-color: black;
 height: 100px;
 width: 400px;
}

pre {
 color: red;
 min-height: 400px;
 max-width: 800px;
 font-family: 'Roboto', sans-serif;
 background-color: rgb(0, 255, 42);
}
